<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
#                       useGeneratedKeys="true" 表示获得insert方法执行完产生的主键值
#                       keyProperty="id" 表示把useGeneratedKeys产生的值赋给对象的id属性
# 总之就是insert语句完成后生成的主键值会赋给对象的id属性
        insert into dish (name, category_id, price, image, description, create_time,
                          update_time, create_user, update_user, status)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{createTime},
                #{updateTime}, #{createUser}, #{updateUser}, #{status})
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
# 必须要字段名(数据库里的表头)和属性名(VO类)对应 所以通过起别名解决
        select d.* , c.name as categoryName from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

</mapper>
